.menu-toggle {
    display: inline-block;
    cursor: pointer;

    .bar {
        width: 24px;
        height: 4px;
        background-color: #333;
        margin: 4px 0;
        transition: 0.1s;
    }

    &.close {
        .bar1 {
            -webkit-transform: rotate(-45deg) translate(-6px, 6px);
            transform: rotate(-45deg) translate(-6px, 6px);
        }

        .bar2 {
            opacity: 0;
        }

        .bar3 {
            -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
        }
    }
}
