<div>
    <div class="menu-toggle"
        [ngClass]="{'close': isMenuOpen}"
        (click)="toggleMenu()">
        <div class="bar bar1"></div>
        <div class="bar bar2"></div>
        <div class="bar bar3"></div>
    </div>

    <h1>Animated Menu</h1>

    <div>
        <p>Here is a small demo app to present a way to show a side menu on-screen complete with animations on show and beteen elements.</p>
    </div>
</div>
<app-menu-container #menuContainer
                    [@slideInOut]="currentMenuState"
                    (@slideInOut.done)="menuCloseAnimationComplete()"></app-menu-container>
